* text=auto

*.js text eol=lf
*.jsx text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.rules text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

.gitignore text eol=lf
.gitattributes text eol=lf
.firebaserc text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.woff binary
*.woff2 binary